.bg-pink {
    background-color: #E83E8C;
}

.encabezado {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #707070;
}

.footer {
    background-color: #17A2B8;
    width: 100%;
    height: 170px;
}

.footer .anuncio {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    padding-bottom: 60px;

}

.creditcar {
    padding: 60px;
    font-size: 60px;



}

.creditcar a {
    color: #fff;
    margin: 10px;
}

.footer2 {
    background-color: #E83E8C;
    height: 170px;
    margin: 0 auto;
    position: relative;
}

.suricata img {
    width: 70px;
    height: 120px;
    position: absolute;

    top: 20%;
    right: 50%;
    transform: translate(50% -50%);

}